<p id="notice"><%= notice %></p>
<div class="container">
<h1>Greater Lansing Projects</h1>

<table>

  <tbody>
    <% @projects.each do |project| %>
      <tr>

        <td><h2><%= link_to project.title, project %> </h2></td>
        <td> <% if project.image.exists? %>
           <%= link_to (image_tag project.image.url(:medium), class: 'img-responsive img-medium') %>
        <% end %>
        </td>

        <% if user_signed_in? %>
             <%= link_to 'Edit', edit_project_path(project) %>
             <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <td>  <h4>
            Submitted <%= time_ago_in_words(project.created_at) %>
          </h4> </td>
        <td> <%= link_to like_project_path(project), method: :put do %>
           Upvote 
         <% end %>  </td>

        <td> <%= link_to dislike_project_path(project), method: :put do %>
             Downvote
             </td>
             <td> <br><%= link_to 'Show', project %></td>
             <td> <br><%= link_to 'Edit', edit_project_path(project) %></td>
             <td> <br><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>
<% end %>
</td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <% if user_signed_in? %>
    <%= link_to 'New Project', new_project_path %>
  <% end %>
</div>
