<p id="notice"><%= notice %></p>
<div class="container">
<h1>Greater Lansing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td> <% if project.image.exists? %>
           <%= link_to (image_tag project.image.url(:thumb), class: 'img-responsive img-thumbnail') %>
        <% end %>
        </td>
        <td><%= link_to 'More Information', project %>
        <% if user_signed_in? %>
             <%= link_to 'Edit', edit_project_path(project) %>
             <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <% if user_signed_in? %>
    <%= link_to 'New Project', new_project_path %>
  <% end %>
</div>