<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @project.title %> </h2>

</p>

<p>
   <% if @project.image.exists? %>
        <%= link_to (image_tag @project.image.url(:medium), class: 'img-responsive img-medium') %>
    <% end %>
</p>

<p>
  <%= simple_format(@project.description) %>
</p>

<p>
  <%= link_to 'More Information about the Project', @project.webpage %>
</p>


<% if user_signed_in? %>
    <%= link_to 'Edit Project', edit_project_path(@project) %>
<% end %>
 
<h2>Improvement Ideas</h2>

<% @project.improvements.each do |improvement| %>
  <p>
	<b>
    <%= improvement.title.to_s.force_encoding("UTF-8") %>
    </b>
  </p>

  <p>
    <b>Author:</b>
    <%= improvement.author.to_s.force_encoding("UTF-8") %>
  </p> 

  <p>
    <b>Principle:</b>
    <%= improvement.principle %>
  </p>

  <p>
    <b>Description:</b>
    <%= simple_format(improvement.description) %>
  </p>

  <p>
      <% if improvement.image.exists? %>
         <%= link_to (image_tag improvement.image.url(:medium), class: 'img-responsive img-thumbnail') %>
      <% end %>
  </p>

<% if user_signed_in? %>
    <%= link_to 'Delete Improvement', project_improvement_path(@project, improvement),
    									method: :delete,
    									data: { confirm: "Are you sure?"} %>
<% end %>

<% end %>

<h2>Add an improvement:</h2>

<%= render "improvements/form" %>
<p>
<p>	

<%= link_to 'Back', projects_path, class: "btn btn-primary" %>

</div>