<div class="container">
<h1>Useful Books</h1>

    <% @books.each do |book| %>
    <div class="row">
      <div class="col-md-2">
        <% if book.image.exists? %>
           <%= link_to (image_tag book.image.url(:thumb), class: 'img-responsive img-thumbnail') %>
        <% end %>
      </div>

      <div class="col-md-4">
        <%= book.title %>
      </div>

      <%= link_to 'More Information', book %>
      <% if user_signed_in? %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br>
    <% end %>
    <br>
  </div>
  <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"><p></div>
  </div>

</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Book', new_book_path %>
<% end %>
</div>