<div class="container">

<p id="notice"><%= notice %></p>

<p>
   <% if @book.image.exists? %>
        <%= link_to (image_tag @book.image.url(:medium), class: 'img-responsive img-thumbnail') %>
    <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <%= link_to 'More Information', @book.webpage %>
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>
<%= link_to 'Back', books_path %>

</div>